@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root {
  scroll-behavior: inherit;

  --st-font-1: "Space Grotesk", sans-serif;
  --st-font-2: "DM Sans", sans-serif;
  --st-font-3: "Inter", sans-serif;
  --st-font-4: "Funnel Display", sans-serif;


  --st-clr-pr-1: #e82c00;
  --st-clr-pr-2: #FF7738;

  --st-clr-sd-1: #777EFF;

  --st-clr-h-2: #050505;


  --st-clr-p-1: #878787;
  --st-clr-p-2: #050505;


  --st-clr-gd-3: linear-gradient(135deg, #EF31BF 0%, #2754E9 100%);

  --st-cube-1: cubic-bezier(.18,.82,.41,1);
  --st-cube-2: all 220ms linear 0ms;

  
}

$over: "(min-width: 1800px)";
$xxxl: "only screen and (min-width: 1600px) and (max-width: 1799px)";
$xxl: "only screen and (min-width: 1400px) and (max-width: 1599px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xs: "(max-width: 767px)";
