/* 
    button-start
*/

.st-offcanvas-btn-1 {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}


.st-pr-btn-1 {
    font-family: var(--st-font-1);
    font-weight: 700;
    line-height: 1.4;
    color: #000;
    letter-spacing: -0.01em;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    background-color: #fff;
    padding: 6px;
    padding-right: 28px;
    border-radius: 100px;
    transition: var(--st-cube-2);

    .icon-elm {
        width: 48px;
        height: 48px;
        background-color: var(--st-clr-pr-1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #fff;
        transition: var(--st-cube-2);

        i {
            transition: var(--st-cube-2);
        }
    }

    &:hover {
        color: var(--st-clr-pr-1);
        .icon-elm {
            transform: scale(1.3) ;
            box-shadow: 4px 0px 10px 1px rgb(0 0 0 / 15%);

            i {
                transform: scale(.7);
            }
        }
    }
}


.st-pr-btn-2 {
    font-family: var(--st-font-4);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    color: var(--st-clr-h-2);
    transition: var(--st-cube-2);
    flex: 0 0 auto;

    .text {
        background-color: var(--st-clr-pr-2);
        padding: 16px 29px;
        border-radius: 100px;
        overflow: hidden;
        transition: 0.4s cubic-bezier(0.28, 0.23, 0.56, 1.39);
        transform-origin: 50% 50% 0px;
        position: relative;
        z-index: 1;
    }

    .icon {
        width: 54px;
        height: 54px;
        background: var(--st-clr-pr-2);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        transform-origin: 50% 50% 0px;
        transition: 0.4s cubic-bezier(0.28, 0.23, 0.56, 1.39);
        display: flex;
        align-items: center;

        .icon-box {
            background-color: var(--st-clr-h-2);
            box-shadow: inset 0px 0px 8px #FFFFFF;
            border-radius: 22px;
            width: 46px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .icon-2 {
        width: 54px;
        height: 54px;
        background: var(--st-clr-pr-2);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        position: absolute;
        top: 7px;
        left: 0;
        transform-origin: 50% 50% 0px;
        transform: scale(0) rotate(-45deg);
        transition: 0.4s cubic-bezier(0.28, 0.23, 0.56, 1.39);

        .icon-box {
            background-color: var(--st-clr-h-2);
            box-shadow: inset 0px 0px 8px #FFFFFF;
            border-radius: 22px;
            width: 46px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &:hover {
        .text {
            transform: rotate(5deg) translateX(52px);
        }
        .icon {
            transform: scale(0) rotate(45deg) translateY(10px);
        }
        .icon-2 {
            transform: scale(1) rotate(0deg);
        }
    }


}


/* 
    button-end
*/