/* 
    about-1-start
*/

.st-about-1 {
    &-sec-title {
        border-bottom: 1px solid rgb(190 190 190 / 12%);
        padding-bottom: 35px;

        .sec-disc {
            margin-top: 29px;
            max-width: 420px;
        }
    }

    &-wrap {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr 1.6fr;


        @media #{$xxxl,$xxl,$xl} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

    }


    &-img {
        height: 656px;

        @media #{$xs} {
            height: 456px;
        }

        @media #{$sm} {
            height: 600px;
        }
    }


    &-img-shape {
        position: absolute;
        top: -1px;
        left: -54px;
        z-index: 1;

        @media #{$xs} {
            height: 100%;
            overflow: hidden;
        }
    }

    &-features {
        display: flex;
        flex-direction: column;
        gap: 19px;

        li {
            font-weight: 600;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
    }



    &-card {
        display: flex;
        flex-direction: column;
        gap: 22px;

        @media #{$lg} {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-start: 1;
            grid-column-end: -1;
        }

        &-single {
            border: 4px solid #252424;
            padding: 27px 34px;
            transition: var(--st-cube-2);
            position: relative;
            z-index: 1;
            overflow: hidden;


            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                padding: 27px 15px;
            }

            &::after {
                content: "";
                width: 150px;
                height: 150px;
                background-color: var(--st-clr-pr-1);
                border-radius: 50%;
                position: absolute;
                bottom: -40px;
                right: -40px;
                filter: blur(30px);
                opacity: 0;
                transition: var(--st-cube-2);
            }

            .title {
                font-size: 36px;
                margin-bottom: 20px;
                transition: var(--st-cube-2);
                @media #{$xxxl,$xxl,$xl,$lg,$md} {
                    font-size: 26px;
                }

                @media #{$xs} {
                    font-size: 22px;
                }

                &:hover {
                    color: var(--st-clr-pr-1);
                }
            }
            

            .dvr-line {
                background-color: #d1d1d1;
                width: 100%;
                height: 1px;
                opacity: 18%;
                margin-bottom: 24px;
            }

            .disc {
                max-width: 530px;
            }

            &:hover {
                border-color: var(--st-clr-pr-1);

                &::after {
                    opacity: .6;
                }
            }
        }
    }
    
}




/* 
    about-1-end
*/

/* 
    about-2-start
*/
.st-about-2 {



    &-sec-title {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 2.42fr;
        align-items: start;
        margin-bottom: 48px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        .st-subtitle-2 {
            justify-self: start;
        }

        .main-title {
            line-height: 1.083;
            font-size: 48px;
            font-weight: 500;

            @media #{$xs} {
                font-size: 38px;
            }
        
            @media #{$sm} {
                font-size: 44px;
            }

            span {
                display: inline;
            }

            .has-clr {
                color: var(--st-clr-pr-1);
            }

            .has-opacity {
                opacity: 40%;
            }
        }
    }


    &-wrap {
        display: grid;
        gap: 80px;
        grid-template-columns: 1fr 2.65fr;
        align-items: end;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }
    
    &-img {
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 1.39fr;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {

            grid-template-columns: 1fr 1.39fr;
        }
        

        &-single {
            height: 336px;
            border-radius: 12px;
            position: relative;
            z-index: 1;

            cursor: none;

            .line-1 {
                position: absolute;
                top: 16px;
                left: 16px;
                width: 40px;
                height: 40px;
                border-radius: 6px 0 0 0;
                border-top: 1px solid #fff;
                border-left: 1px solid #fff;
            }

            .line-2 {
                position: absolute;
                top: 16px;
                right: 16px;
                width: 40px;
                height: 40px;
                border-radius: 0 6px 0 0;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
            }

            
            .line-3 {
                position: absolute;
                bottom: 16px;
                left: 16px;
                width: 40px;
                height: 40px;
                border-radius: 0 0 0 6px;
                border-bottom: 1px solid #fff;
                border-left: 1px solid #fff;
            }
            
            .line-4 {
                position: absolute;
                bottom: 16px;
                right: 16px;
                width: 40px;
                height: 40px;
                border-radius: 0 0 6px 0;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
            }



        }
    }

    &-btn {
        text-align: right;
    }

    &-camera-img {
        width: 18%;
        text-align: center;
        position: absolute;
        top: -70px;
        left: 8%;
        z-index: -1;

        @media #{$md,$xs} {
            left: unset;
            right: 2%;
        }

        img {
            transform-origin: top;
            animation: a2-camera-kf 10s ease-in-out infinite;
        }
    }
    
    
}


@keyframes a2-camera-kf {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-9deg);
    }
    45% {
        transform: rotate(7deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(3deg);
    }
    90% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* 
    about-2-end
*/