/* 
    footer-1-start
*/
.st-footer-1 {
    &-top {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media #{$lg,$md,$xs} {
            margin-bottom: 50px;
        }

        .dvr-line {
            background: radial-gradient(circle,rgba(232, 44, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
            width: 100%;
            height: 1px;
            max-width: 500px;
            margin-top: 30px;
        }
    }

    &-available-btn {
        display: inline-flex;
        font-family: var(--st-font-1);
        color: #fff;
        gap: 10px;
        font-size: 30px;
        font-weight: 700;
        transition: var(--st-cube-2);

        .dot-elm {
            width: 27px;
            height: 27px;
            background-color: #393939;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                content: "";
                width: 12px;
                height: 12px;
                background-color: var(--st-clr-pr-1);
                position: absolute;
                border-radius: 50%;

                animation: wa-fade-in-out 2s linear infinite;
            }
        }

        &:hover {
            color: var(--st-clr-pr-1);
        }
    }

    &-logo {
        margin-bottom: 45px;
    }


    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;

        @media #{$lg,$md,$xs} {
            margin-bottom: 50px;
        }
    }

    &-shd {
        .icon-elm {
            width: 42px;
            height: 42px;
            background: linear-gradient( 133deg, rgb(46,46,46) 0%, rgb(16,16,16) 100%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 22px;
            color: rgb(255 255 255 / 50%);
            transition: .4s var(--st-cube-1);
        }

        .title {
            font-size: 24px;
            margin-bottom: 13px;
        }

        .link-elm {
            font-weight: 500;
            font-size: 15px;
            transition: .4s var(--st-cube-1);
            &:not(:last-child){
                margin-bottom: 5px;
            }
            span {
                color: #fff;
            }
        }
    }

    &-menu {
        margin-top: 70px;

        &-title {
            color: #fff;
            font-family: var(--st-font-1);
            font-weight: 700;
            font-size: 30px;
            text-align: center;
            margin-bottom: 25px;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 30px;
            list-style: none;
            flex-wrap: wrap;
            li {
                a {
                    font-family: var(--st-font-1);
                    color: #fff;
                    font-size: 16px;
                    line-height: 1.5;
                    opacity: .5;
                    transition: var(--st-cube-2);

                    &:hover {
                        color: var(--st-clr-pr-1);
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    &-contact {
        align-self: center;
        margin-top: 15px;

        .link-elm {
            display: flex;
            color: #fff;
            align-items: center;
            gap: 10px;
            transition: var(--st-cube-2);
            i {
                opacity: 50%;
                transition: var(--st-cube-2);
            }


            &:hover {
                color: var(--st-clr-pr-1);
                i {
                    opacity: 1;
                }
            }
        }
    }
    

    &-marquee {
        &-wrap {
            display: flex;
            gap: 50px;
            margin-right: 50px;

            .text-elm {
                font-size: 280px;
                flex: 0 0 auto;
                letter-spacing: -0.05em;


                @media #{$xs} { font-size: 40px; }
                @media #{$sm} { font-size: 60px; }
                @media #{$md} { font-size: 80px; }
                @media #{$lg} { font-size: 120px; }
                @media #{$xl} { font-size: 180px; }
                @media #{$xxl} { font-size: 220px; }
                @media #{$xxxl} { font-size: 280px; }
            }
        }
    }


    &-bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px 30px;
        max-width: 1220px;
        margin: 0 auto;
        align-items: center;
        padding: 33px 0;

        &-link  {
            li {
                a {
                    font-family: var(--st-font-2);
                    color: #fff;
                    font-size: 16px;
                    transition: var(--st-cube-2);

                    &:hover {
                        color: var(--st-clr-pr-1);
                    }
                }
            }
        }
    }
    
    &-copyright {
        font-size: 16px;
    }
    
    &-make {
        border: 1px solid rgb(217 217 217 / 20%);
        font-size: 16px;
        border-radius: 100px;
        padding: 6px 20px;

        i {
            color: var(--st-clr-pr-1);
            margin: 0 6px;
            font-size: 14px;
        }

        a {
            color: #fff;
            transition: var(--st-cube-2);

            &:hover {
                color: var(--st-clr-pr-1);
            }
        }
        

        @media #{$over,$xxxl,$xxl,$xl} {
            margin-left: -60px;
        }
    }


    &-bottom-line {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(90 90 90 / 50%) 3%, rgb(70 70 70 / 50%) 97%, rgba(255, 255, 255, 0) 100%);
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon-elm {
            color: var(--st-clr-pr-1);
            font-size: 16px;
        }
    }

    &-dot-svg {
        max-width: 460px;
        width: 100%;
        height: 480px;
        position: absolute;
        top: 40px;
        left: 10%;
        z-index: -1;
    }

    &-dot-svg-2 {
        max-width: 460px;
        width: 100%;
        height: 480px;
        position: absolute;
        top: 40px;
        right: 0%;
        z-index: -1;
    }

}





/* 
    footer-1-end
*/