/* 
    gallery-1-start
*/
.st-gallery-1 {
    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;

        .img-elm {
            width: 67px;
            height: 67px;
            border: 3px solid #414141;
            border-radius: 10px;
            flex: 0 0 auto;
        }

        .text-elm {
            padding: 0 20px;
        }


        @media #{$md} {
            font-size: 40px;
        }


        @media #{$xs} {
            font-size: 30px;
            flex-wrap: wrap;
        }

        @media #{$sm} {
            font-size: 35px;
        }

    }

    &-slider {
        &-item {
            border: 5px solid transparent;
            border-radius: 15px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            transition: var(--st-cube-2);

            .main-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--st-cube-2);
            }

            .logo-img {
                position: absolute;
                transition: var(--st-cube-2);
                opacity: 0;
                transform: scale(.3);
                transform-origin: center;
            }

            &:hover{
                border-color: var(--st-clr-pr-1);
                .logo-img{
                    opacity: 1;
                    transform: scale(1);
                }

                .main-img{
                    filter: blur(10px);
                }
            }
        }
        .swiper-wrapper {
            .swiper-slide {
                max-width: 300px;
                height: 300px;


            }
        }
    }

    &-bottom-line{
        width: 100%;
        height: 8px;
        background-color: #313131;
    }
}



/* 
    gallery-1-end
*/