/* 
    projects-1-start
*/
.st-projects-1 {
    &-area {
        background-color: #0D0D0D;
    }
    &-sec-title {
        display: flex;
        align-items: center;
        gap: 20px 100px;
        flex-wrap: wrap;
        margin-bottom: 40px;
        background-color: #0D0D0D;

        .st-subtitle-1 {
            margin-bottom: 0;
        }

        .st-sec-title-1  {

        }
    }


    &-container {
        width: 100%;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }

    &-slider {
        &-card {
            width: 100%;
            overflow: hidden;
            background-color: #000;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                inset: 0;
                border: 2px solid var(--st-clr-pr-1);
                position: absolute;
                z-index: 2;
                pointer-events: none;
                transition: .4s var(--st-cube-1);
                opacity: 0;
            }


            .subtitle-x-number {
                display: flex;
                align-items: end;
                justify-content: space-between;
                margin-bottom: 64px;
            }
            .subtitle {
                font-size: 14px;
                background-color: #141414;
                display: inline-block;
                font-weight: 500;
                border-radius: 100px;
                padding: 9px 24px;
                color: #fff;
            }

            .number {
                font-size: 56px;
                color: #202020;
                line-height: 0.8;
                transition: .5s var(--st-cube-1);
            }
            

            .img-elm {
                height: 280px;
                position: relative;
                z-index: 1;
            }

            .title {
                font-size: 36px;
                transition: var(--st-cube-2);

                @media #{$md,$xs} {
                    font-size: 26px;
                }

                &:hover {
                    color: var(--st-clr-pr-1);
                }
            }

            .content-wrap {
                padding: 40px 30px;
            }

            .logo-img {
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                z-index: 1;
                transition: .5s var(--st-cube-1);
                opacity: 0;
            }

            .overly-box {
                position: absolute;
                inset: 0;
                background: rgb(0 0 0 / 70%);
                backdrop-filter: blur(10px);
                transition: .5s var(--st-cube-1);
                opacity: 0;
                transform: scale(1.1);

                &-line {
                    background-color: #fff;
                    position: absolute;

                    &:nth-child(1) {
                        width: 2px;
                        height: 28px;
                        left: 18px;
                        top: 18px;
                    }

                    &:nth-child(2) {
                        width: 2px;
                        height: 28px;
                        right: 18px;
                        top: 18px;
                    }

                    &:nth-child(3) {
                        width: 2px;
                        height: 28px;
                        right: 18px;
                        bottom: 18px;
                    }

                    &:nth-child(4) {
                        width: 2px;
                        height: 28px;
                        left: 18px;
                        bottom: 18px;
                    }

                    &:nth-child(5) {
                        width: 28px;
                        height: 2px;
                        left: 18px;
                        bottom: 18px;
                    }

                    &:nth-child(6) {
                        width: 28px;
                        height: 2px;
                        right: 18px;
                        bottom: 18px;
                    }

                    &:nth-child(7) {
                        width: 28px;
                        height: 2px;
                        right: 18px;
                        top: 18px;
                    }

                    &:nth-child(8) {
                        width: 28px;
                        height: 2px;
                        left: 18px;
                        top: 18px;
                    }
                }
            }

            &:hover {
                &::after {
                    opacity: 1;


                }

                .logo-img {
                    opacity: 1;
                }
                .overly-box {
                    opacity: 1;
                    transform: scale(1);
                }
                .number {
                    color: #fff
                }
            }

        }
    }
    

    &-tabs {
        &-btn {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            flex-wrap: wrap;
            flex: 30px 0;

            li {
                min-width: 200px;
            }

            .nav-link {
                text-align: left;
                width: 100%;
                background: transparent;
                font-size: 20px;
                position: relative;
                z-index: 1;
                padding: 10px 0;
                opacity: .3;
                transition: .5s var(--st-cube-1);

                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg, #fff, rgb(241 46 0 / 30%));
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    box-shadow: 0px 0px 4px 1px rgba(241, 46, 0, 0.7);
                    transition: .5s var(--st-cube-1);
                    opacity: 0;
                }

                &:hover {
                    color: #fff;
                    opacity: 1;
                }

                &:is(.active) {
                    color: #fff;
                    opacity: 1;
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &-pane {
            position: relative;
            z-index: 1;
            .tab-pane {
                display: block !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;

                &:is(.active) {
                    z-index: 2;
                }
            }
        }
    }


    &-slider {
        .swiper-wrapper {
            align-items: end;
            .swiper-slide {
                max-width: 436px;
                transition: .5s ;
                opacity: 0;
                display: flex;
                align-items: end;

                &:is(.swiper-slide-prev) {
                    opacity: 1;
                }

                &:is(.swiper-slide-active) {
                    opacity: 1;

                    .st-projects-1-slider-card {

                    }
                }

                &:is(.swiper-slide-next) {
                    opacity: 1;
                }
            }
        }
    }


    &-bg-line {
        position: absolute;
        inset: 0;
        z-index: -2;
        display: flex;
        align-items: center;
        justify-content: center;

        .st-bg-border {
            &-grid {
                height: 90%;
            }
            &-line {
                &:is(.has-top) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-top: 1px solid rgba(255,255,255, 0.1);
                    border-left: 0;
                }
                &:is(.has-bottom) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-bottom: 1px solid rgba(255,255,255, 0.1);
                    border-left: 0;
                }
            }
        }
    }

}



/* 
    projects-1-end
*/

/* 
    projects-2-start
*/
.st-projects-2 {
    &-sec-title {
        text-align: center;
        font-weight: 700;
        font-size: clamp(30px, 10vw, 200px);
   
        line-height: 0.86;
        margin-bottom: -72px;

        span {
            opacity: 12%;
        }

        @media #{$lg} {
            margin-bottom: -30px;
        }

        @media #{$md} {
            margin-bottom: -20px;
        }

        @media #{$xs} {
            margin-bottom: 0px;
        }
    }



    &-item {
        @media #{$lg,$md,$xs} {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &-single {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            @media #{$lg,$md,$xs} {
                height: auto;
                padding: 200px 0;
            }

            .bg-shape-1 {
                position: absolute;
                top: 16px;
                left: 0;
                width: 100%;
                height: 36px;
                z-index: -1;
            }

            .bg-shape-2 {
                position: absolute;
                bottom: 16px;
                left: 0;
                width: 100%;
                height: 36px;
                z-index: -1;
            }

            .content-wrap {
                display: flex;
                gap: 50px;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
            }

            .title {
                font-size: 60px;
                color: #fff;
                font-weight: 700;
                margin-bottom: 31px;

                @media #{$lg,$md,$xs} {
                    font-size: 30px;
                }
            }

            .tags-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                li {
                    background: rgba(255, 255, 255, 0.12);
                    backdrop-filter: blur(6px);
                    border-radius: 6px;
                    color: #fff;
                    opacity: 1;
                    padding: 4px 21px;
                }
            }


            .st-pr-btn-2 {
                color: #fff;
                .text {
                    border: 1px solid #fff;
                    background: transparent;
                }

                .icon{
                    background-color: #fff;
                }

                .icon-2{
                    background-color: #fff;
                }
            }
            
        }
        
    }

    &-item  {
        @media #{$over,$xxxl,$xxl,$xl} {
            width: 100%;
            height: 100vh;
            position: relative;
            z-index: 1;
        }

        &-single {
            @media #{$over,$xxxl,$xxl,$xl} {
                position: absolute;
                inset: 0;
                transform-origin: right bottom;
            }
        }
    }
    

    &-pin {
        @media #{$over,$xxxl,$xxl,$xl} {
            position: sticky;
            top: 0;
        }

    }

    
}

/* 
    projects-2-end
*/